<% @specials.each do |special| %>
  <li class='special'>
  <a href='#special_info'>
    <h2 class='special_title'><%= special.shortdesc %></h2>
    <p class='vendor_info'>
    <span class='vendor_name'><%= special.vendor.name %></span> -
    <span class='vendor_dist'>1.4</span>mi
    </p>
    <p class='special_price'>4<sup>99</sup></p>
  </a>
  </li>
<% end %>
