<h1>Listing specials</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |special| %>
  <tr>
    <td><%= special.name %></td>
    <td><%= special.address %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Special', new_special_path %>
