<content id='main_list'>
  <div class='status_bar'>
    <p id='special_filter'>
    Specials happening 
    <a id='filter_time' href='#'>now</a> by 
    <a id='filter_sort' href='#'>distance</a> near 
    <a id='filter_loc'  href='#'>you</a>
    </p>
  </div>
  <ul class='special_list'>
  </ul>
</content>
<script src='js/geoloc.js'></script>
