// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  h2.indexTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
